### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
purchase_df = purchase_data[[
    "Purchase ID",
    "SN",
    "Age",
    "Gender",
    "Item ID",
    "Item Name",
    "Price"]]
purchase_group = purchase_df["SN"].value_counts()
Player_Count = len(purchase_group)
# purchase_SN = purchase_data.loc[purchase_data["Purchase ID"] >= 1, columns]
# purchase_data.head()
print("The total number of players is " + str(Player_Count)+".")
# temp_group=purchase_df.groupby('SN')
# temp_group.head()

The total number of players is 576.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Number of Unique Items
# unique_items = purchase_df["Item Name"].value_counts()
unique_items = purchase_df["Item Name"].unique()
unique = len(unique_items)

#Average Purchase Price
Total = sum(purchase_df['Price'])
Q = len(purchase_df['Price'])
Average_P = Total / Q

#Total Number of Purchases
Purchase_num = Q

#Total Revenue
Revenue = purchase_df["Price"].sum()
print("Number of Unique Items: " +str(unique)+".")
print("Average Purchase Price: $"+"{:.2f}".format(Average_P)+".")
print("Total Number of Purchases: "+str(Q)+".")
print("Total Revenue: $"+"{:.2f}".format(Revenue)+".")

Number of Unique Items: 179.
Average Purchase Price: $3.05.
Total Number of Purchases: 780.
Total Revenue: $2379.77.

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# value_purchase = purchase_df.loc[:, ["Gender", "SN"]].drop_duplicates()["Gender"].value_counts()
percentage = purchase_df['Gender'].value_counts(normalize=True)
value_purchase = purchase_df.loc[:, ["Gender", "SN"]].drop_duplicates()
player_counts = value_purchase["Gender"].value_counts()
Gen_ncount = purchase_df['SN'].nunique() 
Gen_count = purchase_df['SN'].count() 

clean = pd.DataFrame({"Total Players":player_counts, "Percentage":percentage.map("{:,.2%}".format)})
                                                                                #", is for every 3 decimals"
                                                                                #". of what to do after decimal
                                                                                #": means everything to right"
                                                                                #"2 is representative of decimal places
clean

                       Total Players Percentage
Male                             484     83.59%
Female                            81     14.49%
Other / Non-Disclosed             11      1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
Gender_group = purchase_data.groupby(["Gender"])
Gender_group.count().head()

ave_price = Gender_group["Price"].mean()
purch_count = Gender_group["Gender"].count()
total_value = Gender_group["Price"].sum()
AvePP = round(total_value/player_counts,2)
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Gender
gen_purchase_analysis = pd.DataFrame({"Purchase Count":purch_count,
                                     "Average Purchase Price": ave_price,
                                     "Total Purchase Value": total_value,
                                     "Average Purchase Total per Person by Gender":AvePP})

gen_purchase_analysis["Average Purchase Price"] = gen_purchase_analysis["Average Purchase Price"].map("${:.2f}".format)
gen_purchase_analysis["Total Purchase Value"] = gen_purchase_analysis["Total Purchase Value"].map("${:.2f}".format)
gen_purchase_analysis["Average Purchase Total per Person by Gender"] = gen_purchase_analysis["Average Purchase Total per Person by Gender"].map("${:.2f}".format)
gen_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
age_df = purchase_df.drop_duplicates(subset="SN")

# bins = [0,11,15,20,25,30,35,40,50]
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100]
age_range = ["<10","10-14","15-19","20-24", "25-29", "30-34","35-39","40+"]
age_group = purchase_df["SN"].value_counts()
purchase_df["Age Range"] = pd.cut(purchase_df["Age"], bins, labels=age_range,include_lowest=True)
age_count = purchase_df.groupby("Age Range").nunique()["SN"]
total = age_count.sum()
percentage_players = age_count / total

age_analysis = pd.DataFrame({"Total Count":age_count,
                             "Percentage of Players":percentage_players
                            })
#("{:,.2%}".format)
age_analysis["Percentage of Players"] = age_analysis["Percentage of Players"].map("{:,.2%}".format)
age_analysis

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchase_count = purchase_df.groupby("Age Range").count()["Purchase ID"]
TPV = purchase_df.groupby("Age Range").sum()["Price"]
Quantity = purchase_df.groupby("Age Range").count()["Price"]
UniquePersons = purchase_df.groupby("Age Range").nunique()["SN"]
Avg_PP = TPV / Quantity
Avg_PPP = TPV / UniquePersons
age_spend_analysis = pd.DataFrame({"Purchase Count":purchase_count,
                             "Average Purchase Price":Avg_PP,
                              "Total Purchase Value":TPV,
                              "Avg Total Purchase per Person":Avg_PPP
                            })

age_spend_analysis["Average Purchase Price"] = age_spend_analysis["Average Purchase Price"].map("${:.2f}".format)
age_spend_analysis["Total Purchase Value"] = age_spend_analysis["Total Purchase Value"].map("${:.2f}".format)
age_spend_analysis["Avg Total Purchase per Person"] = age_spend_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
age_spend_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Purchasing Analysis (Age)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# spending_group = purchase_group

# purchase_count2 = purchase_df.groupby("SN").nunique()["SN"]
# TPV = purchase_df.groupby("Age Range").sum()["Price"]
# # Quantity = purchase_df.groupby("Age Range").count()["Price"]
# UniquePersons = purchase_df.groupby("SN").nunique()
# Avg_PP = TPV / Quantity
# Avg_PPP = TPV / UniquePersons

People = purchase_df.groupby("SN").count()
# spender_analysis = pd.DataFrame({"Purchase Count":People,
#                              "Average Purchase Price":Avg_PP,
#                               "Total Purchase Value":TPV
#                             })
# spender_analysis
People
spender_analysis["Purchase ID"] = spender_analysis["Purchase Count"]

NameError: name 'spender_analysis' is not defined

## Most Popular Items

In [10]:
Item_group = purchase_df.groupby(["Item ID","Item Name"])
Item_price = Item_group["Price"].mean()
Purchase_count = Item_group["Item Name"].count()
Total_purchase_value = Item_group["Price"].sum()
item_analysis = pd.DataFrame({"Purchase Count":Purchase_count,
                              "Item Price":Item_price,
                               "Total Purchase Value":Total_purchase_value
                            })
item_analysis = item_analysis.sort_values("Purchase Count", ascending=False)
#I think they set the index as Item ID
item_analysis["Item Price"] = item_analysis["Item Price"].map("${:.2f}".format)
item_analysis["Total Purchase Value"] = item_analysis["Total Purchase Value"].map("${:.2f}".format)
item_analysis

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
profit_analysis = pd.DataFrame({"Purchase Count":Purchase_count,
                              "Item Price":Item_price,
                               "Total Purchase Value":Total_purchase_value
                            })
profit_analysis = profit_analysis.sort_values("Total Purchase Value", ascending=False)

profit_analysis["Total Purchase Value"] = profit_analysis["Total Purchase Value"].map("${:.2f}".format)
profit_analysis["Item Price"] = profit_analysis["Item Price"].map("${:.2f}".format)
profit_analysis

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
most_profitable_pd = pd.DataFrame({"Purchase Count": item_count, "Item Price": average_item_purchase, "Total Purchase Value": total_item_purchase}).sort_values("Total Purchase Value", ascending=False).head()

# Cleaning and Formatting
most_profitable_pd["Item Price"] = most_profitable_pd["Item Price"].map("${:,.2f}".format)
most_profitable_pd["Total Purchase Value"] = most_profitable_pd["Total Purchase Value"].map("${:.2f}".format)
most_profitable_pd = most_profitable_pd.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

# Display the Item Table (Sorted by Total Purchase Value)
m_profit  =profit_data_pd.sort_values("Total Purchase Value", ascending=False).head()

m_profit

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80